*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
nav{
    background-color: aqua;
    border-radius: 4px;
    padding: 14px;
    box-shadow: 0 4px 4px rgb(94, 89, 89);
}
.Menu{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
ul{
    display: flex;

}
ul li {
    list-style: none;
    margin-left: 30px;
}
ul a{
    text-decoration: none;
    transition: transform 0.4s;
    font-size: 16px;
}
ul a:hover{
    color: beige;
    background-color: blue;
    transform: translateX(-5px);
    border-radius: 8px;
    box-shadow: 0 2px 3px rgb(126, 123, 123);
}
.logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 30px;
    background-color: beige;
    border-radius: 15px;
    padding: 4px;

}